/* Registration.css */

.register-vista .registration-container {
  display: flex;
  flex-direction: row; /* Coloca los elementos en línea horizontal */
  height: 100vh;
  width: 100vw;
}

.register-vista .registration-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* Ajuste para alinear el formulario a la izquierda */
.register-vista .registration-form {
  width: 75%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  max-height: 80vh;
  align-self: flex-start; /* Alinear el formulario al inicio en el contenedor */
}

/* Estilos específicos para la sección superior e inferior */
.register-vista .registration-top {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-vista .registration-bottom {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen a la derecha */
.register-vista .registration-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  align-self: center;
}

.register-vista .text-white h1 {
  font-size: 2.5rem;
  text-align: center;
}

/* Estilos personalizados para elementos del formulario */
.register-vista .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
}

.register-vista label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estilos responsivos */
@media (max-width: 767px) {
  .register-vista .registration-container {
    flex-direction: column; /* Cambia a vertical en pantallas pequeñas */
  }

  .register-vista .registration-half {
    flex: none;
    height: 50vh;
  }

  .register-vista .registration-form {
    width: 90%;
    max-width: none;
    align-self: center;
  }

  .register-vista .registration-top {
    height: 20%;
  }

  .register-vista .registration-bottom {
    height: 80%;
  }
}
