/* Registration.css */

.registration-container .registration-left .form-control{
  background: transparent;
}
@media (min-width: 767px) {
  .registration-container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .registration-container .registration-left {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 70%;
    overflow: hidden;
    color: rgb(0, 0, 0);
    position: relative;
    height: 100vh; 
  }


  .registration-container .registration-form {
    width: 100%;
    padding: 40px 60px 40px 60px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 15%;
  }

  .registration-container .registration-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-inline-start: 100px;
    background-color: #4f325a;
    box-shadow: 0px 0px 0px 20px #793b62,
                0px 0px 0px 40px #b2506d,
                0px 0px 0px 60px #f87875,
                0px 0px 0px 80px #ffb97b,
                0px 0px 0px 100px #ffe0c4;
    border-radius: 50% 0 0 50%;
  }

  .registration-container .registration-image {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-100px);
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .registration-container .form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
  }

  .registration-container .btn-success, .registration-container .btn-primary {
    min-width: 95%;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .registration-container .btn-success {
    background-color: transparent;
    color: #2cda3a;
    border: 2px solid #2cda3a;
  }

  .registration-container .btn-success:hover {
    background-color: #2ecc71;
    color: #fff;
    border: 2px solid #2ecc71;
  }

  .registration-container .btn-primary {
    background-color: transparent;
    color: #5dade2;
    border: 2px solid #5dade2;
  }

  .registration-container .btn-primary:hover {
    background-color: #3498db;
    color: #fff;
    border: 2px solid #3498db;
  }

}




@media (max-width: 768px) {

  .registration-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la pantalla */
    justify-content: center;
    align-items: center; /* Centrar contenido horizontalmente */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    background: linear-gradient(45deg, #f87875, #000000);
  }

  .registration-container .registration-left {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
  }

  .registration-container .registration-right {
    display: none; /* Ocultar registration-right */
  }

  .registration-container .registration-image {
    display: none; /* Ocultar la imagen en pantallas pequeñas */
  }

  .registration-container .registration-form {
    max-width: 100%;
    width: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /*desplazamiento*/
    z-index: 1;
  }

  .registration-container .btn {
    min-width: 90%;
    padding: 12px;
    border-radius: 10px;
  }

  .registration-container .btn-primary {
    background-color: #5dade2;
    color: #fff;
    border: 2px solid #5dade2;
  }

  .registration-container .btn-success {
    background-color: #2ecc71;
    color: #fff;
    border: 2px solid #2cda3a;
  }
}

