/* Historial.css */

/* Media query para pantallas grandes */
@media (min-width: 768px) {
  #user-historial .historial-container {
    padding: 40px; /* Aumenta el padding para dar más espacio */
    max-width: 1200px; /* Aumenta el ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor */
  }

  #user-historial .historial-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: space-between; /* Espacio entre los elementos */
  }

  #user-historial .tabla-container {
    flex: 1; /* Ocupa todo el espacio disponible */
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
    min-width: 300px; /* Aumenta el ancho mínimo para la tabla */
    max-width: 500px; /* Aumenta el ancho máximo para la tabla */
    margin-bottom: 20px; /* Espacio entre la tabla y el calendario */
  }

  #user-historial .calendario-container {
    flex: 1; /* Ocupa todo el espacio disponible */
    min-width: 300px; /* Aumenta el ancho mínimo para el calendario */
    max-width: 500px; /* Aumenta el ancho máximo para el calendario */
  }

  #user-historial .table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    margin-top: 0; /* Elimina el margen superior para evitar espacio adicional */
    font-size: 16px; /* Aumenta el tamaño de fuente para mejor legibilidad */
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  #user-historial .historial-content {
    display: flex; /* Asegúrate de que el contenedor sea flexible */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }

  #user-historial .tabla-container {
    flex: 1; /* Ocupa el espacio disponible */
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
    min-width: 250px; /* Ancho mínimo para la tabla */
    max-width: 100%; /* Ancho máximo para la tabla, ocupa todo el ancho disponible */
    order: 1; /* Asegura que la tabla aparezca primero */
    margin-bottom: 10px; /* Espacio inferior para separar de otros elementos */
    padding: 0 10px; /* Espacio lateral para evitar que se pegue a los bordes */
  }

  #user-historial .table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    margin-top: 20px; /* Espacio superior para la tabla */
    font-size: 14px; /* Tamaño de fuente más pequeño para la tabla */
  }

  #user-historial .calendario-container {
    flex: 1; /* Ocupa el espacio disponible */
    margin-right: 0; /* Elimina el margen en pantallas pequeñas */
    max-width: 100%; /* Ancho máximo para el calendario, ocupa todo el ancho disponible */
    order: 2; /* Asegura que el calendario aparezca después */
    padding: 0 10px; /* Espacio lateral para evitar que se pegue a los bordes */
  }

  /* Ajustes para el calendario */
  #user-historial .react-calendar {
    height: auto; /* Permite que la altura sea automática */
    width: 100%; /* Asegura que el calendario ocupe todo el ancho disponible */
  }

  #user-historial .react-calendar__month-view__days__day {
    max-height: 50px; /* Ajusta la altura de cada día en el calendario */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Estilos para el calendario */
#user-historial .asistencia {
  background-color: #c8e6c9 !important; /* Verde claro para días asistidos */
  border-radius:  10px;
}

#user-historial .inasistencia {
  background-color: #ffcdd2 !important; /* Rojo claro para días no asistidos */  
  border-radius: 10px;
}