#custom-calendar {
  width: auto; /* Ancho del contenedor del calendario */
  height: auto; /* Altura del contenedor del calendario */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
}

#custom-calendar .react-calendar {
  width: auto; /* Ancho del calendario al 100% del contenedor */
  height: 100%; /* Altura del calendario al 100% del contenedor */
  font-size: 1.2em; /* Aumenta el tamaño de la fuente */
}

#custom-calendar .react-calendar__tile {
  max-height: 52px; /* Ajusta la altura máxima de las celdas */
  border-radius: 15px;
}

#custom-calendar .react-calendar__month-view__days__day {
  padding: 5px; /* Ajusta el padding de las celdas */
}

#custom-calendar .react-calendar__tile--active {
  background-color: inherit;
  color: inherit;  
}

#custom-calendar .asiste {
  background-color: lightgreen !important;
  color: black ;
}

#custom-calendar .falta {
  background-color: lightcoral !important;
  color: black;
}

#custom-calendar .tarde {
  background-color: lightsalmon !important;
  color: black;
}

#custom-calendar .justificado {
  background-color: lightblue !important;
  color: black;
}

#custom-calendar .gris {
  background-color: lightgray !important;
  color: black;
}
