#manager-panel .historial-container {
    padding: 20px;
  }
  
  #manager-panel .filtros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #manager-panel .filtros-container .form-control {
    margin-bottom: 10px;
  }
  
  #manager-panel .tabla-container {
    margin-top: 20px;
  }
  
  #manager-panel .estado-badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  

  #manager-panel .paginacion-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }