/* UserPanel.css */

@media (min-width: 768px) {
  /* Contenedor Principal */
  #user-panel .container-fluid {
    display: flex;
    height: 100vh;
  }

  /* Barra Lateral */
  #user-panel .panel-lateral {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100px;
    height: 100vh;
    background-color: #1a3a6e;
    padding: 25px 10px 10px;
    transition: width 0.5s ease;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Quita el scrollbar en Firefox */
  }

  #user-panel .panel-lateral.collapsed {
    width: 85px;
  }

  #user-panel .panel-lateral.show {
    width: 270px;
  }

  /* Modo Oscuro para la Barra Lateral */
  #user-panel .panel-lateral.modo-oscuro {
    background-color: #444;
  }

  #user-panel .panel-lateral.modo-oscuro button {
    color: #fff;
  }

  #user-panel .panel-lateral.modo-oscuro button.activo {
    background-color: #ffffff;
    color: #000000;
  }

  /* Estilos para los Botones */
  #user-panel .panel-lateral button {
    background-color: transparent;
    border: none;
    padding: 25px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  /* Íconos */
  #user-panel .nav-item .icono {
    font-size: 30px;
    width: 40px;
    margin-right: 20px;
    text-align: center;
  }

  /* Botón Activo */
  #user-panel .panel-lateral button.activo {
    background-color: #ffffff;
    color: #1a3a6e;
    border-radius: 8px;
  }

  /* Hover en Botones */
  #user-panel .panel-lateral button:not(.activo):hover {
    background-color: #3888ff;
    border-radius: 8px;
    transform: translateY(-5px);
  }

  /* Contenido Principal */
  #user-panel .contenido-principal {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.5s ease;
    background-color: #faf8f9;
    height: 100vh;
    box-sizing: border-box;
    color: #333;
  }

  #user-panel .contenido-principal.expanded {
    margin-left: 270px;
  }

  #user-panel .contenido-principal.collapsed {
    margin-left: 85px;
  }
}

/* Media Query para Pantallas Pequeñas */
@media (max-width: 768px) {
  #user-panel .panel-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    padding: 10px;
    z-index: 10;
    overflow-y: hidden;
    opacity: 0.5;
    transition: width 0.5s ease, opacity 0.5s ease;
  }

  #user-panel .panel-lateral.show {
    width: 270px;
    opacity: 1;
  }

  #user-panel .contenido-principal {
    margin-left: 70px;
  }

  #user-panel .contenido-principal.expanded {
    margin-left: 270px;
  }
}

/* Estilo para el Código QR */
.qr-output {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  padding: 15px;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modo Oscuro para el Código QR */
#user-panel.modo-oscuro .qr-output {
  background-color: #444;
  color: #fff;
  border: 2px solid #888;
}

/* Estilos para los días en el calendario */
.react-calendar__tile.asistencia {
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile.inasistencia {
  background-color: #f44336;
  color: white;
  border-radius: 8px;
}

/* Aumentar el tamaño del calendario */
.react-calendar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
